**/target/
site/
flink-training/
**.env
**/cloud.properties
**/agent_domain_store/
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.lock.hcl
**/*.tfvars
**/.idea
**/.venv
deployment/product-tar/flink-*/
deployment/product-tar/kafka_*/
e2e-demos/cdc-demo/datasets/
**/output/
**/knowledge/
**/tmp/
**/__pycache__/
**/dist/
**/.cursor/
**/.specify/
**/client.properties
**/variables.tfvars
**/set_env.sh
e2e-demos/config.yaml
**/queries_etl.sql
**/run_forever.sh
