apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: flink
  namespace: confluent
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - configmaps
  - namespaces
  - serviceaccounts
  - secrets
  verbs:
  - '*'
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - '*'
- apiGroups:
  - ""
  resources: 
  - events
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - "rbac.authorization.k8s.io"
  resources: 
  - roles
  - rolebindings
  verbs:
  - '*'
- apiGroups: 
  - "flink.apache.org"
  resources: 
  - "flinkdeployments"
  - "flinkdeployments/status"
  - "flinkstatesnapshots"
  verbs:
  - '*'

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: flink-role-binding
  namespace: confluent
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: flink
subjects:
  - kind: ServiceAccount
    name: flink
    namespace: confluent