apiVersion: v1
kind: Service
metadata:
  name: model-serving
  labels:
    app: model-serving
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: model-serving
