apiVersion: v1
kind: Service
metadata:
  name: kafka-feast-consumer
  labels:
    app: kafka-feast-consumer
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: health
  selector:
    app: kafka-feast-consumer
