<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %-60c %x - %m%n"/>
        </Console>
        
        <!-- File Appender -->
        <File name="File" fileName="logs/payment-claims-enrichment.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %-60c %x - %m%n"/>
        </File>
    </Appenders>
    
    <Loggers>
        <!-- Application Logger -->
        <Logger name="com.example" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        
        <!-- Flink Loggers -->
        <Logger name="org.apache.flink" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        
        <!-- Kafka Connector Logger -->
        <Logger name="org.apache.flink.connector.kafka" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        
        <!-- JDBC Connector Logger -->
        <Logger name="org.apache.flink.connector.jdbc" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        
        <!-- Root Logger -->
        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
