apiVersion: platform.confluent.io/v1beta1
kind: Connect
metadata:
  name: connect
  namespace: confluent
spec:
  replicas: 1
  image:
    application: confluentinc/cp-server-connect:7.7.7
    init: confluentinc/confluent-init-container:3.1.1
  dependencies:
    kafka:
      bootstrapEndpoint: kafka:9071